form {
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input {
  min-width: 320px;
}

h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.spacer {
  height: 8px;
}

ng-blurhash {
  margin: 4px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  a {
    margin: 4px;
  }
}
